{% extends 'base.html.twig' %}

{% block title %}
  Your Reservations!
{% endblock %}

{% block body %}
    <h1 class="text-4xl font-extrabold dark:text-white mb-2">Your Reservations!</h1>
    <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
        {% for reservation in reservations %}
            <li class="pb-3 sm:py-4">
                <div class="flex items-center space-x-4 rtl:space-x-reverse">
                    <div class="shrink-0">
                        <img class="w-8 h-8 rounded-full" src="/uploads/{{ reservation.showtime.movie.poster }}" alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            <a href="{{ path('app_reservation', { id: reservation.id }) }}">
                                {{ reservation.showtime.movie.title }}
                            </a>
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{ reservation.showtime.startTime|diff_for_humans }}
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        ?
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
